.container-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-box {
  background-color: #5a5e7e;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
  padding: 15px;
  margin: 10px 20px;
}

.image {
  background-color: lightgray;

  width: auto;
  height: 100px;

  border-radius: 10px;
}

.image-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;

  margin-top: 10px;
}

.image-type {
  font-size: 25px;
}

.image-name-size {
  display: flex;
  flex-direction: column;
}

.image-size {
 
  font-size: 10px;
}

.image-option {
  font-size: 20px;
}
