.container-storage {
  padding: 20px;
  margin-bottom: 20px;
}

.storage-box {
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
}

.storage-title {
  color: white;
  text-align: center;

  margin: 25px 0;
}

.container-storage-data-graph {
  display: flex;
  justify-content: space-between;

}

.storage-data {
  font-size: 10px;
  display: flex;
  color: white;

  margin: 10px 5px;
  margin-right: 30px;
}

.container-storage-data-text {
  display: flex;
  flex-direction: column;
}


.storage-data-text {
  font-size: 15px;
  display: flex;

  margin: 5px 0;
}

.storage-upgrade-btn {
  color: white;
  background-color: black;

  font-size: 15px;

  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50px;

  padding: 5px 10px;
  margin: 10px 0;
}
