.container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  margin-bottom: 10px;
}

.container-add-btn {
  color: white;
  background-color: orange;

  font-size: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border: none;
  border-radius: 20px;

  padding: 8px 20px;
} 

.plus-sign {
  margin-right: 10px;
}

.btn-setting {
  color: white;
  background: transparent;

  border-style: solid;
  border-color: white;
  border-radius: 20px;

  padding: 5px 15px;
  margin-left: 10px;
}